src/flows/System_Log_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Publish_System_Log_Event</name>
        <label>Publish System Log Event</label>
        <locationX>371</locationX>
        <locationY>51</locationY>
        <actionName>SystemLogger</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>systemLogEvents</name>
            <value>
                <elementReference>SystemLogEvent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Construct_System_Log_Event</name>
        <label>Construct System Log Event</label>
        <locationX>203</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Flow_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Flow_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Log_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LogLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Related_Object_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedObjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Flow_Log_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Running_UserId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggedInUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SystemLogEvent.Running_UserName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggedInUserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_System_Log_Event</targetReference>
        </connector>
    </assignments>
    <description>v5 - with logged in user id and user name details and timestamp</description>
    <formulas>
        <name>LoggedInUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>LoggedInUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.Username}</expression>
    </formulas>
    <interviewLabel>System Log Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>System Log Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Construct_System_Log_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the flow generating the log event ($Flow.InterviewGuid)</description>
        <name>FlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Flow.InterviewGuid</stringValue>
        </value>
    </variables>
    <variables>
        <description>Name of the flow generating the log event</description>
        <name>FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Flow.CurrentStage</stringValue>
        </value>
    </variables>
    <variables>
        <description>Level to log (default: Error) (Error, Warn, Info, Debug)</description>
        <name>LogLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </variables>
    <variables>
        <description>Message to log ($Flow.FaultMessage)</description>
        <name>LogMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the sObject related to the event ($Flow.CurrentRecord)</description>
        <name>RelatedObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Flow.CurrentRecord</stringValue>
        </value>
    </variables>
    <variables>
        <name>SystemLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>System_Log_Event__e</objectType>
    </variables>
</Flow>
